
@import "bourbon";

@mixin transform-origin($content) {
	-webkit-transform-origin: $content;
	-moz-transform-origin: $content;
	-ms-transform-origin: $content;
	-o-transform-origin: $content;
	transform-origin: $content;
}

@mixin transform($content) {
	-webkit-transform: $content;
	-moz-transform: $content;
	-ms-transform: $content;
	-o-transform: $content;
	transform: $content;
}

@mixin translate3d($x, $y, $z) {
	@include prefixer(transform, translate3d($x, $y, $z), webkit moz ms o spec);
}