
.side-panel-open {
	overflow: hidden;

	.site {
		@include respond-to(phone) {
			display: none;
		}
	}
}

@mixin side-panel($side-panel-width: 490px, $side-panel-padding: 40px) {

	background-color: rgba(0,0,0, .8);
	overflow-y: auto;

	padding: $side-panel-padding;
	width: ($side-panel-width * 2 - $side-panel-padding * 2);
	right: $side-panel-width * -2;
	top: 0;
	bottom: 0;
	border-left: 1px solid #252525;

	position: fixed;
	z-index: 1000;

	@include respond-to(phone) {
		position: static;
		display: none;
	}

	@include transition(all 200ms cubic-bezier(0.120, 0.460, 0.215, 0.750));

	&.open {
		right: $side-panel-width * -1 + $side-panel-padding;
		z-index: 1001;

		@include respond-to(phone) {
			width: auto;
			position: static;
			padding: 20px 10px 10px 10px;
			display: block;
		}
	}

	.side-2 {
		@include opacity(0);
		@include transition(all 200ms cubic-bezier(0.120, 0.460, 0.215, 0.750));
	}

	&.open.double-wide .side-2 {
		@include opacity(100);
	}

	&.open.double-wide {
		right: 0;
	}

	&.open .side-1 {
		margin-right: $side-panel-padding;

		@include respond-to(phone) {
			margin-right: 0;
		}
	}

	&.open.double-wide .side-1 {
		margin-right: 0;
	}

	.side-1,.side-2 {
		float: left;
		width: $side-panel-width - $side-panel-padding;

		@include respond-to(phone) {
			float: none;
			width: auto;
		}
	}

	.more {
		@include transform(rotate(-90deg));
		@include transform-origin(50% 50%);

		height: 40px;
		width: 110px;

		position: absolute;
		top: 50%;
		left: -75px;

		background-color: #494949;
	}

	.close {
		position: absolute;

		height: 40px;
		width: 40px;

		background: transparent;
		border: 0px;

		cursor: pointer;
		z-index: 1010;

		top: 10px;
		right: $side-panel-width + 30px;

		@include respond-to(phone) {
			right: 20px;
		}

		&:after {
			content: "X";
			color: #F8F8F8;
			font-size: 24px;
			font-family: "Verdana";
		}
	}

	&.open.double-wide .close {
		right: 10px;
	}
}