/*
 *= require_self
*/

@import "reset";
@import "bourbon";
@import "mixins/transitions";
@import "mixins/transform";
@import "mixins/media_queries";
@import "mixins/visibility";
@import "mixins/misc";

@import "side_panel";

$siteWidth: $desktopWidth;
$sideNavigationHeight: 40px;

html, body {
	background-color: #010101;
	background: image_url('bgtexture.png');
	padding-bottom: 20px;
}

a,li,h1,h2,h3,h4,h5,h6,input,button,p,ul,span,div {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: #E8E8E8;
	background: transparent;
	border: 0;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 38px;
	font-weight: 100;
	margin: 10px 0;

	.sub-text {
		font-size: 26px;
		font-weight: 100;
		margin-left: 10px;
	}
}

button {
	cursor: pointer;
}

.site {
	max-width: $siteWidth;
	width: 100%;
	margin: 0 auto;
	background-color: #282828;
	padding-top: $sideNavigationHeight;
	position: relative;

	@include transition(width 200ms cubic-bezier(0.120, 0.460, 0.215, 0.750));

	@include respond-to(mobile) {
		padding-top: 20px;
	}
}

.content {
	position: relative;
	overflow: hidden;
	@include clearfix();
}

.site-navigation {
	@include clearfix();

	height: $sideNavigationHeight;
	padding: 0 $sideNavigationHeight;

	box-shadow: 0 3px 30px #181818;
	position: relative;
	z-index: 1;

	@include respond-to(phone) {
		padding: 0 5px;
	}

	@include respond-to(mobile) {
		padding: 0;
	}

	background-color: rgba(200, 200, 200, .15);

	li {
		float: left;
		color: #E8E8E8;

		&.frontpage {
			@include respond-to(phone) {
				display: none;
			}
		}

		a {
			color: #E8E8E8;
			text-decoration: none;
			letter-spacing: 2px;
			padding: $sideNavigationHeight / 4 $sideNavigationHeight / 2;
			line-height: $sideNavigationHeight;
			font-size: 18px;

			@include transition(all 200ms cubic-bezier(0.120, 0.460, 0.215, 0.750));

			@include respond-to(mobile) {
				font-size: 14px;
				letter-spacing: normal;
				padding: $sideNavigationHeight / 4 $sideNavigationHeight / 4;
			}

			@include respond-to(phone) {
				padding: 8px;
				font-size: 12px;
			}
		}

		&.active, &:hover {
			background-color: #282828;
		}
	}
}

.footer-links {
	@include clearfix();

	li {
		float: left;
		padding: 10px 0;

		a {
			padding: 5px 20px;
			border-left: 1px solid #181818;
			border-right: 1px solid #383838;
		}

		&:hover {
			background-color: rgba(10,10,10,.1);
		}

		&:first-child a {
			border-left-style: none;
		}

		&:last-child a {
			border-right-style: none;
		}
	}
}

@import "leaderboard";
@import "calendar";
@import "movies";
@import "tvshows";
@import "frontpage";
@import "fallout";
@import "games";