@import "mixins/media_queries";

.calendar {

	.months {
		margin-top: 4px;
		@include clearfix();
	}

	.selectMonth {
		height: 70px;
		text-shadow: -2px 2px 0 #000;

		@include respond-to(mobile) {
			font-size: 22px;
			padding: 0;
		}

		&:hover {
			background-color: #303030;
		}
	}

	.month-item:first-child { text-align: right; }
	.month-item:last-child { text-align: left; }

	.month-item {
		float: left;
		width: 33.333333333333333332%;
		text-align: center;
	}

	.currentMonth {
		cursor: default;

		@include respond-to(phone) {
			font-size: 24px;
		}

		&:hover {
			background-color: transparent;
		}
	 }

	.days {
		@include clearfix();
	}

	.date {
		float: left;
		width: 75px;
		cursor: default;
	}

	.monthAcronym {
		color: #696969;

		@include respond-to(phone) {
			display: none;
		}
	}

	.day {
		position: relative;
		border: 1px solid #383838;
		border-width: 1px 0 0 0;

		@include clearfix();

		&:hover {
			background-color: rgba(0,0,0,.2);
			border-color: #191919;
		}
	}

	.events {
		margin-left: 85px;
	}

	.event {
		margin: 0 0 8px 0;
	}

	.seriesName {
		color: #696969;

		&:after {
			content: '-';
			margin: 0 4px;
		}
	}

	.dayOfWeek {
		color: rgba(0,0,0,.5);
		position: absolute;
		bottom: 3px;
		right: 3px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2px;
		cursor: default;

		@include respond-to(phone) {
			color: rgba(0,0,0,.1);
		}
	}
}
