@import "mixins/media_queries";

.calendar {

	.months {
		margin-top: 4px;
		@include clearfix();

		li:first-child { text-align: right; }
		li:last-child { text-align: left; }

		li {
			float: left;
			width: 33.333333333333333332%;
			text-align: center;

			button {
				font-size: 28px;
				line-height: 28px;
				height: 70px;
				font-weight: bold;
				text-shadow: -2px 2px 0 #000;
				padding: 0 30px;

				@include respond-to(mobile) {
					font-size: 22px;
					padding: 0;
				}

				&:hover {
					background-color: #303030;
				}
			}

			&.currentMonth {

				button {
					font-size: 34px;
					line-height: 34px;
					cursor: default;

					@include respond-to(phone) {
						font-size: 24px;
					}

					&:hover {
						background-color: transparent;
					}
				}
			}

			span {
				display: inline;
				margin: 0 4px;

				@include respond-to(mobile) {
					display: block;
					margin: 0;
				}
			}

		}
	}

	.days {
		@include clearfix();

		.day {
			padding: 10px 0px;
			position: relative;
			border: 1px solid #383838;
			border-width: 1px 0 0 0;

			@include clearfix();

			&:hover {
				background-color: rgba(0,0,0,.2);
				border-color: #191919;
			}

			.date {
				float: left;
				width: 75px;
				text-align: center;
				cursor: default;
			}

			.month {
				font-size: 20px;
				color: #696969;

				@include respond-to(phone) {
					display: none;
				}
			}

			.day-of-month {
				font-size: 26px;
			}
		}

		.events {
			margin-left: 85px;
		}

		.event {
			margin: 0 0 8px 0;
		}

		.series-name {
			color: #696969;

			&:after {
				content: '-';
				margin: 0 4px;
			}
		}

		.title {

		}

		.day-of-week {
			color: rgba(0,0,0,.5);
			font-size: 24px;
			position: absolute;
			bottom: 3px;
			right: 3px;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;
			cursor: default;

			@include respond-to(phone) {
				color: rgba(0,0,0,.1);
			}
		}
	}
}
