@import "mixins/transitions";
@import "mixins/transform";
@import "mixins/visibility";
@import "mixins/misc";
@import "mixins/media_queries";

$margin-size: 12px;

.os-support {
	text-align: center;

	.osx, .windows, .linux {
		width: 40px;
		height: 40px;
		display: none;
	}

	&.osx .osx {
		display: inline-block;
	}

	&.windows .windows {
		display: inline-block;
	}

	&.linux .linux {
		display: inline-block;
	}

	.osx { background-image: url(image_path('osx.png'))}
	.windows { background-image: url(image_path('win.png'))}
	.linux { background-image: url(image_path('linx.png'))}
}

.game-profile {
	text-align: center;

	.game-cover {
		width: 100%;
	}

	.tags .tag {
		margin: 0;
	}

	#search_games {
	}
}

.game-meta-data {
	text-align: left;

	.categories-header {
		padding: $margin-size 0 $margin-size 0;
		border-bottom: 1px solid #383838;
		text-transform: lowercase;
		font-weight: 100;
	}

	.developers, .publishers, .release-date {
		padding: $margin-size / 2 0;
		font-size: 12px;
		font-weight: 100;
		letter-spacing: 1px;
		list-style-type: none;
	}

	.developers, .publishers {
		li {
			display: inline;

			&:before {
				content: ', ';
			}

			&:first-child:before {
				content: '';
			}
		}
	}

	.developers:before {
		content: 'Developer: ';
	}

	.publishers:before {
		content: 'Publisher: ';
	}

	.release-date:before {
		content: 'Released: ';
	}

	.add-tag {
		> * {
			vertical-align: top;
			height: 32px;
			padding: 4px 0;
			font-weight: 100;
			color: #e8e8e8;
		}

		.tag-name {
			background-color: rgba(0,0,0,.1);
			font-size: 16px;
			width: 80%;
		}

		.submit-tag {
			background-color: rgba(0,0,0,.2);
			width: 20%;
			height: 40px;
			font-size:

			span {
				font-size: 24px;
			}
		}
	}

	.add-tag-button {
		font-size: 16px;
		font-weight: 100;
		text-align: left;
		width: 100%;
		padding: $margin-size 0;
		border-top: 1px solid #383838;
	}

	.tags {
		font-weight: 100;

		.tag {
			padding: $margin-size 0;
			border-bottom: 1px solid #383838;
		}

		.tag:last-child {
			border-bottom-style: none;
		}

		.remove-tag {
			float: right;
		}
	}
}

.game-meta-data, .misc-game-info {
	@include calc(width, "50% - #{$margin-size}");
	float: left;
	margin: $margin-size 0 0 0;
}

.misc-game-info {
	margin-left: $margin-size * 2;

	.news, .news p, .news .read-more, .news h3 {
		margin-top: $margin-size;
		display: block;
	}

	.news {
		background-color: #181818;
		padding: $margin-size;

		.article:first-child h3 {
			margin-top: 0;
		}

		.article {
			text-align: left;
		}

		p {
			font-size: 10px;
		}

		h3,.read-more {
			font-size: 12px;
		}

		.read-more {
			text-align: right;
			color: #8787ff;
		}

		&.no-articles {
			display: none;
		}

		&.loading {
			display: block;
			min-height: 150px;
			background: url("/assets/loading.gif") no-repeat 50% 50% #181818;
		}
	}

	.play-button {
		text-decoration: none;
		background-color: #181818;
		height: 44px;
		display: block;
		line-height: 22px;
		font-size: 24px;

		&:hover {
			color: #686868;

			.icon-play {
				border-left-color: #686868;
			}
		}
	}

	.icon-play {
		vertical-align: bottom;
		margin-left: 0;
	}
}

.icon-search {
	display:block;
	border:0;
	padding-left:28px;
	color:#F8F8F8;
	position: relative;
	left: 10px;

	@include easeIn();
}

.focused .icon-search {
	left: 27px;
}

.icon-search:hover,
.icon-search:focus,
.icon-search:active {
	color:#730800;
	background:transparent;
}

.icon-search:before,
.icon-search:after {
	content:"";
	position:absolute;
	top:50%;
	left:0;
}

.icon-search:before,
.icon-search:after {
	margin:-8px 0 0;
	background:#F8F8F8;
}

.icon-search:hover:before,
.icon-search:focus:before,
.icon-search:active:before {
	background:#730800;
}

.icon-search:before {
	width:6px;
	height:6px;
	border:3px solid #F8F8F8;
	background:transparent;
	@include border-radius(12px);
}

.icon-search:after {
	left:10px;
	width:3px;
	height:7px;
	margin-top:0;
	@include transform(rotate(-45deg));
}

#search_button:hover .icon-search:before,
.icon-search:hover:before,
.icon-search:focus:before,
.icon-search:active:before {
	border-color:#A8A8A8;
	background:transparent;
}

#search_button:hover .icon-search:after,
.icon-search:hover:after,
.icon-search:focus:after,
.icon-search:active:after {
	background:#A8A8A8;
}

.icon-play {
	border: 8px solid transparent;
	border-left-color: #FFF;
	border-width: 11px 18px;
	margin: 11px 0px 0px 17px;
	width: 0;
	height: 0;
	display: inline-block;
}

.separator {
	border-top: 1px solid #686868;
	border-bottom: 1px solid #181818;
	margin: 0;
	padding: 0;
	height: 0;
	width: 100%;
}

.focused .game-library {
	@include calc(width, "75% - 24px");
}

.game-library {
	@include easeIn();
	@include calc(width, "50% - 24px");
	float: right;
	margin: 0 $margin-size 0 0;

	@include respond-to(mobile) {
		@include calc(width, "100% - 24px");
	}

	h1 {
		text-transform: lowercase;
	}

	.games .game:nth-child(2n+2) {
		margin-left: $margin-size;
	}
}

#search_label {
	@include calc(width, "12.5% - 12px");
	display: inline-block;
	vertical-align: top;
	margin: 12px 12px 0 0;
	height: 16px;
	padding: 4px 0;
	font-weight: 100;
}

#search_games {
	@include calc(width, "75% - 8px");
	vertical-align: top;
	margin: $margin-size $margin-size 0 0;
	border: 1px solid #181818;
	height: 16px;
	padding: 4px;
	border: 0;
	display: inline-block;
	background-color: #F8F8F8;
	color: #181818;
}

#search_button {
	@include calc(width, "12.5% - 12px");
	background-color: #383838;
	height: 18px;
	vertical-align: top;
	height: 24px;
	padding: 4px;
	margin: $margin-size 0 0 0;
	display: inline-block;
	position: relative;
	z-index: 1;
	overflow: hidden;

	&:hover {
		box-shadow: 1px 1px 4px #000;
	}
}

.focused .game-container {
	@include calc(width, "25% - 36px");
}

.game-container {
	@include easeIn();
	@include calc(width, "50% - 36px");

	@include respond-to(mobile) {
		@include calc(width, "100% - 36px");
	}

	padding: 0 12px 12px 12px;
	box-shadow: 1px 3px 6px 3px rgba(0, 0, 0,.3);
	margin: 12px 0 0 12px;
	float: left;
	clear: left;
}

.top-tags {
	margin-bottom: $margin-size;
}

.game {
	@include calc(width, "50% - 6px");
	display: inline-block;
	margin-top: 10px;
	position: relative;

	.game-cover {
		width: 100%;
	}

	.controls {
		position: absolute;
		background-color: rgba(0,0,0,.2);

		height: 50px;
		left: 0;
		right: 0;
		bottom: 2px;

		@include transform(scale(0));
		@include transform-origin(50% 100%);
		@include easeIn($length: 100ms);
	}

	&:hover .controls {
		display: block;
		@include transform(scale(1));
	}

	.play, .info {
		display: inline-block;
		height: 44px;
		width: 44px;
		vertical-align: bottom;
		text-decoration: none;
		font-size: 36px;
		background-color: rgba(70,70,70,.6);
		border: 1px solid #e8e8e8;

		&:hover {
			background-color: rgba(70,70,70,.8);
		}
	}

	.info {
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		float: right;
	}

	.play {
		position: relative;
		border-radius: 22px;
		@include easeIn();

		&:hover {
			width: 120px;
		}

		&:hover .icon-play:after {
			content: 'Play';
			font-size: 18px;
			position: relative;
			top: -25px;
			left: 20px;
		}
	}
}

.recently-played-games, .games-list {
	h1 {
		font-size: 28px;
		color: #e8e8e8;
		text-align: left;
		margin: 12px 0 0 0;
		letter-spacing: 1px;
	}
}

.games-list h1 {
	margin-top: 24px;
}

.focused .recently-played-games h1 {
	font-size: 22px;
}

.recently-played-games {
	h1 {
		letter-spacing: 5px;
		text-transform: lowercase;
	}

	.game:first-child {
		width: 100%;
	}

	.game:nth-child(2n+3) {
		margin-left: 12px;
	}
}

.focused .recently-played-games {

	.game:nth-child(2n+3) {
		margin-left: 0;
	}

	.game {
		width: 100%;
	}
}

.all-tags {
	margin-bottom: 12px;
}

.focused .example-tag-list {

	.name {
		font-size: 20px;
	}

	.examples {
		font-size: 12px;
	}
}

.example-tag-list {

	.tag, .all-categories {
		display: block;
		position: relative;
		@include easeIn();

		margin: 0 -12px;
		padding: 12px 12px;

		&:hover {
			background-color: rgba(0,0,0,.3);
			cursor: pointer;
		}
	}

	hr {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.tag:last-child hr {
		display: none;
	}

	.examples {
		display: block;
		margin-top: 6px;
		color: #888;

		&:before {
			display: inline;
			color: #888;
			content: 'i.e. ';
		}
	}

	.example {
		display: inline;
		color: #888;
	}

	.example:nth-child(n+2) {
		&:before {
			display: inline;
			color: #888;
			content: ', ';
		}
	}

	.name {
		font-weight: 100;
		font-size: 28px;
		@include easeIn();
	}
}

#search_results {
	&.is-loading {
		background: url("/assets/loading.gif") no-repeat 50% 50%;
		min-height: 200px;

		.games {
			display: none;
		}
	}
}

.find-a-steam-user {
	width: 40%;
	padding: 100px 12px 230px 12px;
	margin-left: 10%;
	background-color: rgba(0,0,0,.1);

	.search-notice {
		font-size: 14px;
		font-weight: 100;
		display: block;
		padding: 12px 0;
	}

	.search-instructions {
		padding: 24px 0;
		display: block;
	}

	.account-name {
		display: block;
		width: 100%;
		height: 32px;
		font-size: 24px;
		border-bottom: 4px solid #F00;
		background-color: rgba(100,100,100,.1);
		padding-top: 20px;

		@include placeholder() {
			font-size: 18px;
			padding-left: 4px;
			line-height: 24px;
		}
	}

	.account-search-button {
		display: block;
		width: 100%;
		padding: 12px 0;
		background: rgba(0,0,0,.1);
		@include border-bottom-radius(5px);

		&:hover,&:active {
			background: rgba(0,0,0,.5);
		}
	}

	.is-creating-text, .is-loading-text {
		display: none;
	}

	&.is-creating, &.is-loading {
		.default-text {
			display: none;
		}
	}

	&.is-creating .is-creating-text {
		display: inline;
	}

	&.is-loading .is-loading-text {
		display: inline;
	}

	.errors {

	}
}

.tags-to-add {
	.tag {
		padding: $margin-size 0;
		cursor: pointer;
		background-color: rgba(0,0,0,.1);

		&:hover {
			background-color: rgba(0,0,0,.5);
		}
	}
}