@import "bourbon";

.leaderboard {

	h1 {
		font-size: 32px;
		font-weight: 100;
		margin: 10px;

		.sub-text {
			font-size: 24px;
			font-weight: 100;
			margin-left: 10px;
		}
	}

	h2 {
		font-size: 18px;
		line-height: 24px;
	}

	.days {
		.day {
			@include clearfix();
			margin: 10px 0;
		}
		.date, .score {
			display: block;
			height: 50px;
		}
		.date {
			float: left;
			width: 12.5%;
			margin-left: 2.5%;
		}
		.score {
			float: left;
			width: 75%;
			line-height: 20px;
			font-size: 18px;
			padding-left: 10px;
		}
	}

	#leaderboards {
		float: right;
		width: 50%;
	}

	#individual {
		float: left;
		width: 50%;
	}

	.ladder {
		width: 100%;
	}

	#individuals, #my-team {
		.next-page, .previous-page {
			width: 40%;
		}
		.find-me {
			width: 20%;
		}
	}

	.next-page, .previous-page, .find-me {
		background-color: #383838;
		padding: 8px 0;
		font-size: 18px;
	}

	.next-page, .previous-page {
		width: 50%;
	}

	#who-am-i, #my-total-score, #my-rank {
		float: left;
		margin: 5px 0;

		.label {
			width: 60px;
			text-transform: uppercase;
			color: #181818;
			font-weight: bold;
			float: left;
			padding: 7px 0;
		}
	}

	#who-am-i .name,
	#my-total-score .score,
	#my-rank .rank {
		background-color: #181818;
		@include border-left-radius(5px);
		@include border-right-radius(5px);
		margin-left: 60px;
		padding: 7px;
	}

	#who-am-i {
		width: 100%;
	}

	#my-total-score {
		width: 55%;
		margin-left: 1%;
	}

	#my-rank {
		width: 40%;
	}

	.rung {
		@include clearfix();
		padding: 5px;

		&.is-me, &.is-my-team {
			.name, .score {
				background-color: #ED2939;
			}
		}

		.rank, .name, .score {
			float: left;
			padding: 10px 0;
		}
		.rank {
			width: 10%;
			padding-right: 3%;
			text-align: right;
		}
		.name {
			width: 40%;
			text-indent: 15px;
			background-color: #181818;
			@include border-left-radius(5px);
		}
		.score {
			width: 35%;
			padding-right: 2%;

			text-align: right;
			background-color: #181818;
			@include border-right-radius(5px);
		}
	}
}
