@import "bourbon";
@import "mixins/transform";
@import "mixins/visibility";
@import "mixins/media_queries";

.leaderboard {

	h1 {
		font-size: 32px;
		font-weight: 100;
		margin: 10px;

		.sub-text {
			font-size: 20px;
			font-weight: 100;
			margin-left: 10px;
		}
	}

	h2 {
		font-size: 18px;
		line-height: 24px;
	}

	.days {

		.day-of-month, .day-of-week, .month {
			margin: 3px 0;
			text-align: right;
		}

		.day {
			@include clearfix();
			margin: 10px 0;
		}
		.date, .score {
			display: block;
			height: 50px;
		}
		.date {
			float: left;
			width: 12.5%;
			margin-left: 2.5%;
		}
		.score {
			float: left;
			width: 75%;
			line-height: 20px;
			font-size: 18px;
			padding-left: 10px;
			margin-top: 3px;
		}
	}

	#leaderboards-overflow-wrapper, #my-stats, #leaderboard-selector {
		float: right;
		width: 50%;
		overflow: hidden;

		@include respond-to(phone) {
			width: 100%;
		}

		@include respond-to(tablet) {
			width: 75%;
		}
	}

	#individual {
		float: left;
		width: 50%;

		@include respond-to(phone) {
			width: 100%;
		}

		@include respond-to(tablet) {
			width: 25%;
		}
	}

	#leaderboard-selector {
		@include clearfix();
		text-align: center;
		margin: 15px 0;

		button {
			display: inline-block;
			width: 30%;
			height: 40px;
			padding: 10px 0;
			background-color: #383838;
			font-size: 14px;

			&:first-child {
				@include border-left-radius(5px);
			}

			&:last-child {
				@include border-right-radius(5px);
			}

			&.is-selected {
				background-color: #ED2939;
			}
		}
	}

	.ladder {
		width: 100%;
	}

	#leaderboards {
		width: 300%;
	}

	#individuals, #my-team, #teams {
		width: 33%;
		float: left;
		@include easeIn();
	}

	#teams { @include translate3d(-100%,0,0); @include opacity(0); }
	.all-teams-selected #teams { @include translate3d(0,0,0); @include opacity(100); }

	.all-teams-selected #individuals { @include translate3d(0,0,0); @include opacity(0); }
	.individuals-selected #individuals { @include translate3d(-100%,0,0); @include opacity(100); }
	.team-selected #individuals { @include translate3d(-200%,0,0); @include opacity(0); }

	#my-team { @include translate3d(-100%,0,0); @include opacity(0); }
	.team-selected #my-team { @include translate3d(-200%,0,0); @include opacity(100); }

	.next-page, .previous-page, .find-me {
		background-color: #383838;
		padding: 8px 0;
		font-size: 18px;
	}

	.find-me {
		@include border-left-radius(5px);
		@include border-right-radius(5px);
		float: right;
		width: 20%;
	}

	.next-page {
		@include border-right-radius(5px);
	}
	.previous-page {
		@include border-left-radius(5px);
		margin-right: 1px;
	}

	.next-page, .previous-page {
		width: 30%;
	}

	#my-stats {
		@include clearfix();

		#who-am-i, #my-total-score, #my-rank {
			float: left;
			margin: 5px 0;

			.label {
				width: 60px;
				text-transform: uppercase;
				color: #181818;
				font-weight: bold;
				float: left;
				padding: 7px 0;

				text-shadow:
					-1px -1px 0 #323232,
					1px -1px 0 #323232,
					-1px 1px 0 #323232,
					1px 1px 0 #323232;
			}
		}

		#who-am-i .name,
		#my-total-score .score,
		#my-rank .rank {
			background-color: #181818;
			@include border-left-radius(5px);
			@include border-right-radius(5px);
			margin-left: 60px;
			padding: 7px;
		}

		#who-am-i {
			width: 96%;
		}

		#my-total-score {
			width: 55%;
			margin-left: 1%;
		}

		#my-rank {
			width: 40%;
		}
	}

	.rung {
		@include clearfix();
		padding: 5px;

		&.is-me, &.is-my-team {
			.name, .score {
				background-color: #ED2939;
			}
		}

		.rank, .name, .score {
			float: left;
			padding: 10px 0;
		}
		.rank {
			width: 10%;
			padding-right: 3%;
			text-align: right;
		}
		.name {
			width: 40%;
			text-indent: 15px;
			background-color: #181818;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			@include border-left-radius(5px);
		}
		.score {
			width: 35%;
			padding-right: 2%;

			text-align: right;
			background-color: #181818;
			@include border-right-radius(5px);
		}
	}
}
