
$moviesPerRow: 4;

.selected-movie {
	@include side_panel();

	.title {
		text-align: center;
		font-size: 24px;
		margin-bottom: 20px;
	}

	&.double-wide .extra-info {
		display: block;
	}

	.extra-info {
		@include respond-to(phone) {
			display: block;
			float: none;
		}
	}

	.staff-info{
		width: 40%;
		float: left;
	}

	.movie-actors {
		width: 60%;
		float: left;
	}

	.characters {
		float: right;

		.character {
			color: #B3B3B3;
			display: inline;
			font-size: 12px;
			line-height: 14px;
		}
	}

	.poster {
		min-width: 300px;
		display: block;
		margin: 0 auto;
	}

	.locations {
		margin: 20px 0;
	}

	.book,.page {
		width: 44%;
		margin: 0 3%;
		float:left;
		font-size: 26px;
	}

	.book { text-align: right;}

	h2 {
		font-size: 24px;
		line-height: 36px;
	}

	.description {
		margin-top: 20px;
	}

	.people {
		@include clearfix();
		font-size: 14px;

		.person {
			display: block;
			margin: 5px 0;
		}

		.first-name {
			margin-right: 6px;
			color: #B3B3B3;
		}
	}
}

.movies {
	list-style-type: none;
	@include clearfix();

	.movie {
		text-align: center;

		max-height: 200px;
		padding: 20px 0;
		width: $siteWidth / $moviesPerRow;
		float: left;

		cursor: pointer;

		a {
			font-size: 16px;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.movie-title {
			height: 32px;

			@include respond-to(phone) {
				height: auto;
			}
		}

		.movie-poster {
			height: 149px;
			opacity: 0.6;
			margin-top: 10px;

			@include respond-to(phone) {
				display: none;
			}
		}

		&:hover {
			background-color: rgba(0,0,0, .1);
		}

		@include respond-to(phone) {
			width: 100%;
			border-bottom: 1px solid #393939;
		}
	}
}

.filters {
	background-color: rgba(0,0,0,.5);
	border-bottom: 10px solid #383838;
}

.filter {
	padding: 10px 0;
	@include text-overflow();
	position: relative;

	.letters {
		.letter {
			button {
				float: left;
				text-align: center;
				width: ($siteWidth) / 26;
				min-height: 24px;
				font-size: 16px;

				@include respond-to(mobile) {
					padding: 5px;
				}

				@include respond-to(tablet) {
					width: ($siteWidth) / 13;
				}

				&:hover, &.toggled {
					background-color: rgba(255,255,255,.3);
					border: 1px solid #393939;
					border-width: 0 1px;
				}
			}
		}
	}

	.genres, .decades {
		list-style-type: none;
		margin: 0;
		clear: left;
		width: 15000px;
		position: relative;

		@include transition(all 200ms cubic-bezier(0.120, 0.460, 0.215, 0.750));
		@include transition-timing-function(cubic-bezier(0.120, 0.460, 0.215, 0.750));
	}

	.genre, .decade {
		width: 200px;
		padding: 10px 0;
		float: left;
		text-align: center;
		cursor: pointer;
		border: 1px solid rgba(0,0,0,0);

		.year {
			&:after {
				content: "s";
			}
			.checked {
				padding-left: 25px;
			}
		}

		.year:before,.name:before {
			content: "+";
			position: relative;
			top: -1px;
			left: -2px;
			visibility: hidden;
			opacity: 0;
		}

		&.checked {
			background-color: rgba(255,255,255,.3);
			border: 1px solid #393939;

			.year:before,.name:before {
				visibility: visible;
				opacity: 1;
			}
		}

		&:hover {
			background-color: rgba(255,255,255,.3);
			border: 1px solid #393939;

			.year:before, .name:before {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.back,.forward {
		@include box-shadow(0);
		cursor: pointer;
		position: absolute;
		background: rgba(30,30,30,.5);
		color: #E8E8E8;
		border: 0;
		height:  100%;
		z-index: 2;
		top: 0;
		bottom: 0;
		width: 50px;
	}

	.back { left: 0; }
	.forward { right: 0; }
}