
$moviesPerRow: 4;

.movieopen {
	@include respond-to(phone) {
		display: none;
	}
}

.selected-movie {
	$selected-movie-width: 490px;
	$selected-movie-padding: 40px;

	background-color: rgba(0,0,0, .8);

	padding: $selected-movie-padding;
	width: $selected-movie-width - $selected-movie-padding * 2;
	top: 0;
	bottom: 0;
	right: $selected-movie-width * -1;
	border-left: 1px solid #252525;

	position: fixed;
	z-index: 1000;

	@include transition(right 200ms cubic-bezier(0.120, 0.460, 0.215, 0.750));

	&.open {
		right: 0px;

		@include respond-to(phone) {
			width: auto;
			position: static;
			padding: 40px 10px 10px 10px;
		}
	}

	.close {
		position: absolute;
		top: 10px;
		right: 10px;

		width: 70px;
		height: 70px;

		background: transparent;
		border: 0px;

		cursor: pointer;
		z-index: 5;

		&:after {
			content: "X";
			color: "#F8F8F8";
			font-size: 24px;
			font-family: "Verdana";
		}
	}

	.title {
		text-align: center;
		font-size: 24px;
		margin-bottom: 20px;
	}

	.poster {
		min-width: 80%;
		display: block;
		margin: 0 auto;
	}

	.locations {
		margin: 20px 0;
	}

	.book,.page {
		width: 44%;
		margin: 0 3%;
		float:left;
	}

	.book { text-align: right;}
}

.movies {
	list-style-type: none;
	@include clearfix();

	.movie {
		text-align: center;

		max-height: 200px;
		padding: 20px 0;
		width: $siteWidth / $moviesPerRow;
		float: left;

		cursor: pointer;

		a {
			font-size: 16px;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.movie-title {
			height: 32px;

			@include respond-to(phone) {
				height: auto;
			}
		}

		.movie-poster {
			height: 149px;
			opacity: 0.6;
			margin-top: 10px;

			@include respond-to(phone) {
				display: none;
			}
		}

		&:hover {
			background-color: rgba(0,0,0, .1);
		}

		@include respond-to(phone) {
			width: 100%;
			border-bottom: 1px solid #393939;
		}
	}
}

.filters {
	background-color: rgba(0,0,0,.5);
	border-bottom: 10px solid #383838;
}

.filter {
	padding: 10px 0;
	@include text-overflow();
	position: relative;

	.letters {
		.letter {
			button {
				float: left;
				text-align: center;
				width: ($siteWidth) / 26;
				min-height: 24px;
				font-size: 16px;

				@include respond-to(mobile) {
					padding: 5px;
				}

				@include respond-to(tablet) {
					width: ($siteWidth) / 13;
				}

				&:hover, &.toggled {
					background-color: rgba(0,0,0,.5);
					border: 1px solid #191919;
					border-width: 0 1px;
				}
			}
		}
	}

	.genres, .decades {
		list-style-type: none;
		margin: 0;
		clear: left;
		width: 15000px;
		position: relative;

		@include transition(all 200ms cubic-bezier(0.120, 0.460, 0.215, 0.750));
		@include transition-timing-function(cubic-bezier(0.120, 0.460, 0.215, 0.750));
	}

	.genre, .decade {
		width: 200px;
		padding: 10px 0;
		float: left;
		text-align: center;
		cursor: pointer;
		border: 1px solid rgba(0,0,0,0);

		.year {
			&:after {
				content: "s";
			}
			.checked {
				padding-left: 25px;
			}
		}

		.year:before,.name:before {
			content: "+";
			position: relative;
			top: -1px;
			left: -2px;
			visibility: hidden;
			opacity: 0;
		}

		&.checked {
			background-color: rgba(0,0,0,.6);
			border: 1px solid #191919;

			.year:before,.name:before {
				visibility: visible;
				opacity: 1;
			}
		}

		&:hover {
			background-color: rgba(0,0,0,.6);
			border: 1px solid #191919;

			.year:before, .name:before {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.back,.forward {
		@include box-shadow(0);
		cursor: pointer;
		position: absolute;
		background: rgba(30,30,30,.5);
		color: #E8E8E8;
		border: 0;
		height:  100%;
		z-index: 2;
		top: 0;
		bottom: 0;
		width: 50px;
	}

	.back { left: 0; }
	.forward { right: 0; }
}