
@import "mixins/media_queries";
@import "mixins/transitions";

.serieses {

	.series {
		background-repeat: no-repeat;
		background-color: transparent;
		border: 5px solid #000;
		border-style: solid none;

		@include respond-to(phone) {
			background-size: 469px 67px;

			&.left {
				background-position: top left;
			}

			&.right {
				background-position: top right;
			}
		}

		&.left .select-series {
			text-align: left;
		}
		&.right .select-series {
			text-align: right;
		}

		&.selected {
			.series-details {
				height: auto;
			}
		}

		.series-details {
			height: 0;
			max-height: 4500px;
			@include easeIn();
		}

		.select-series {
			font-size: 36px;
			width: 100%;
			padding: 50px;

			@include respond-to(phone) {
				padding: 12px;
			}

			&:hover {
				background-color: rgba(0,0,0,.1);
			}
		}
	}

	.seasons {
		border: 5px solid #191919;
		border-width: 5px 0;

		&:before {
			content: 'Season ';
			margin-right: 5px;

			font-size: 24px;
			line-height: 35px;
		}

		.season {
			display: inline;

			&:hover, &.selected {
				.select-season {
					background-color: #191919;
				}
			}
		}

		.select-season {
			font-size: 18px;
			padding: 5px 15px;
		}
	}

	.episodes {
		line-height: 2em;

		.episode {
			position: relative;
			height: 4em;

			cursor: pointer;

			background-color: #393939;

			border-top: 2px solid #292929;
			border-bottom: 2px solid #494949;

			&:hover,&:active,&.selected {
				background-color: #191919;
			}
		}

		.season-number {
			margin: 0 4px 0 10px;

			&:before {
				content: 's';
				color: rgba(255,255,255,.5);
				margin-right: 1px;
			}
		}

		.episode-number-in-season {
			&:before {
				content: 'e';
				color: rgba(255,255,255,.5);
				margin-right: 1px;
			}
		}

		.episode-title {
			margin-left: 30px;
		}

		.episode-airdate {
			position: absolute;
			bottom: 3px;
			right: 10px;
		}
	}
}