
.serieses {

	.series {
		&.left button {
			text-align: left;
		}
		&.right button {
			text-align: right;
		}

		button {
			font-size: 36px;
			display: block;
			width: 100%;
			padding: 50px;

			@include respond-to(phone) {
				padding: 20px;
				font-size: 22px;
			}

			&:hover {
				background-color: rgba(0,0,0,.1);
			}
		}
	}
}