
@import "mixins/media_queries";

.selected-series {
	@include side_panel();

	@include respond-to(phone) {
		overflow-y: hidden;
	}

	.series-name {
		font-size: 36px;
		line-height: 40px;
	}

	.seasons {
		background-color: #292929;
		border: 5px solid #191919;
		border-width: 5px 0;

		&:before {
			content: '';
		}

		.season {
			line-height: 35px;
			display: block;

			cursor: pointer;

			&:before {
				content: 'Season ';
				padding-left: 20px;
			}

			&:hover, &:active, &.selected {
				background-color: #191919;
			}
		}


		&.season-selected {
			&:before {
				content: 'Season ';
			}

			.season {
				display: inline;

				&:before {
					content: '';
					padding-left: 0px;
				}
			}
		}

		button {
			padding: 5px 10px;
			font-size: 16px;
		}
	}

	.episodes {
		line-height: 2em;

		.episode {
			position: relative;
			height: 4em;

			cursor: pointer;

			background-color: #393939;

			border-top: 2px solid #292929;
			border-bottom: 2px solid #494949;

			&:hover,&:active,&.selected {
				background-color: #191919;
			}
		}

		.season-number {
			margin: 0 4px 0 10px;

			&:before {
				content: 's';
				color: rgba(255,255,255,.5);
				margin-right: 1px;
			}
		}

		.episode-number-in-season {
			&:before {
				content: 'e';
				color: rgba(255,255,255,.5);
				margin-right: 1px;
			}
		}

		.episode-title {
			margin-left: 30px;
		}

		.episode-airdate {
			position: absolute;
			bottom: 3px;
			right: 10px;
		}
	}
}

.serieses {

	.series {
		background-repeat: no-repeat;
		background-color: transparent;
		border: 5px solid #000;
		border-style: solid none;

		@include respond-to(phone) {
			background-size: 469px 67px;

			&.left {
				background-position: center left;
			}

			&.right {
				background-position: center right;
			}
		}

		&.left button {
			text-align: left;
		}
		&.right button {
			text-align: right;
		}

		&.open {
			.seasons {
				display: block;
			}
		}

		.seasons {
			cursor: pointer;
			@include clearfix();
			@include transition(height 200ms cubic-bezier(0.120, 0.460, 0.215, 0.750));

			display: none;

			h3 {
				font-size: 18px;
				float: left;
				padding: 4px 6px;
			}
		}


		button {
			font-size: 36px;
			display: block;
			width: 100%;
			padding: 50px;

			@include respond-to(phone) {
				padding: 20px;
				font-size: 22px;
			}

			&:hover {
				background-color: rgba(0,0,0,.1);
			}
		}
	}
}